<mat-sidenav-container
  [hasBackdrop]="false"
  class="h-full max-h-full w-full max-w-full"
>
  <mat-sidenav
    #sideNav
    mode="side"
    position="start"
    [(opened)]="isOpened"
    [disableClose]="true"
    class="surface-500"
  >
    <glist-sidebar></glist-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="h-full max-h-full flex flex-column">
      <glist-header (menuClicked)="sideNav.toggle()"></glist-header>
      <glist-content class="flex-grow-1 overflow-y-auto"></glist-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
