<div class="flex flex-col h-full">
  <glist-header (menuClicked)="sideNav.toggle()"></glist-header>
  <mat-drawer-container class="grow" [hasBackdrop]="isMobile()">
    <mat-drawer
      id="sideNav"
      #sideNav
      [mode]="isMobile() ? 'over' : 'side'"
      position="start"
      [(opened)]="isOpened"
      [disableClose]="!isMobile()"
    >
      <glist-sidebar></glist-sidebar>
    </mat-drawer>
    <mat-drawer-content>
      <div class="flex flex-col h-full max-h-full">
        <glist-content class="grow overflow-y-auto"></glist-content>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
