@import './variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.w-99 {
  width: 99%;
}

.scale-2 {
  transform: scale(2);
}

.form-grey {
  background-color: #f7f7f7 !important;
}

.subtext {
  color: $ui-gray-4;
}

.gray-hover:hover {
  background-color: $ui-gray-8 !important;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}
