@use '@angular/material' as mat;

@use 'tailwindcss';

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$spring-green-palette,
      typography: Roboto,
      density: 0
    )
  );
}

.mat-primary {
  color: var(--mat-sys-primary);
}

.mat-secondary {
  color: var(--mat-sys-secondary);
}

.mat-tertiary {
  color: var(--mat-sys-tertiary);
}
