<div id="main-container" class="w-screen h-screen max-w-full max-h-full overflow-hidden flex flex-col border">
  <div id="top-nav" class="flex w-full h-[50px] min-h-[50px] border items-center justify-center">
    {{ game.currentLocation?.name }} - {{ game.currentScene?.name }}
  </div>
  <div class="flex grow min-h-0">
    <div id="content-container" class="flex flex-col w-full h-full max-h-full border items-center justify-center overflow-hidden">
      <div id="game-container" class="flex grow border w-full h-full max-h-full overflow-hidden">
        <div class="flex items-center justify-center w-1/2">
          <img [src]="game.currentScene?.image" [title]="game.currentScene?.description" />
        </div>
        <div class="flex flex-col items-center justify-center w-1/2 h-full">
          <span>{{ currentSalutation }}</span>
          <br />
          @for (chat of chats; track chat.characterResponse) {
            @if (chat.userOption) {
              <span>{{ chat.userOption }}</span>
            }
          }
        </div>
      </div>
      <div id="action-container" class="flex h-[100px] border w-full items-center justify-center">
        <div class="flex w-full h-full justify-between items-center p-3">
          @for (scene of game.currentLocation?.scenes; track scene.id) {
            <span class="cursor-pointer" (click)="game.setScene(scene); interactWithFirstInteractable()">
              {{ scene.name }}
            </span>
          }
        </div>
      </div>
    </div>
  </div>
</div>
