<div id="main-container" class="w-screen h-screen max-w-full max-h-full overflow-auto flex flex-col border">
  <div id="top-nav" style="height: 50px" class="flex w-full h-full border items-center justify-center">
    @if (mysteryDetails) {
      <app-top-menu [gameTitle]="mysteryDetails.title"></app-top-menu>
    }
  </div>
  <div class="flex grow">
    <div id="sidebar" class="flex basis-1/6 w-full h-full border border-orange items-center justify-center">
      @if (mysteryDetails) {
        <app-sidebar [characters]="mysteryDetails.characters" [locations]="mysteryDetails.locations"></app-sidebar>
      }
    </div>
    <div id="content-container" class="flex basis-5/6 w-full h-full flex-col border items-center justify-center">
      <div id="game-container" class="flex basis-5/6 border w-full h-full items-center justify-center">
        @if (responses.length > 0) {
          <app-game-container [responses]="responses" [mysteryCoverPhotoUrl]="mysteryCoverPhoto"></app-game-container>
        }
      </div>
      <div id="text-container" class="flex basis-1/6 border w-full h-full items-center justify-center">
        <app-text-container
          [isInitialized]="!!mysteryDetails"
          (startMystery)="requestMysteryStart($event)"
          (endMystery)="endMystery()"
        ></app-text-container>
      </div>
    </div>
  </div>
</div>
